.titulo {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__1 {
    color: $color-t;
    font-size: $big-font;
    padding: 1rem 3rem;
  }

  &__tex1 {
    border: none;
    padding: 1rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: $re-background;
    }
  }
  p {
    text-transform: uppercase;
  }
}
.padre {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  width: 100%;
}
.card {
  margin: 1rem;
  max-width: 280px;
  padding: 1rem;
  box-shadow: 0 10px 50px - 10px rgba(0, 0, 0, 0.45);

  &_text {
    font-style: italic;
    text-align: center;
  }
  &_title {
    font-style: italic;
    text-align: center;
    color: black;
    color: $color-contenido;
    font-weight: bold;
  }
  &_1 {
    background: white;
  }
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  max-width: 1320px;
  padding: 5px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
}
body {
  background: whitesmoke;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("carpeta imag/FONDO2.jpg");
  font-size: 1.2rem;
  min-height: 100%;
}
.contregistro {
  width: 1000px;
}

@mixin caja($width, $height, $background) {
  width: $width;
  height: $height;
  background-color: $background;
  margin: 0.8rem;
  padding: 0.8rem;
  border: 1px solid rgb(117, 226, 28);
}
.box1 {
  @include caja(230px, 250px, WHITE);
}
.box1:hover {
  transform: scale(1.2, 1.2);
}
.footer {
  position: absolute;
  width: 100%;
}
textarea {
  width: 70%;
  min-height: 60px;
  max-height: 150px;
  max-width: 100%;
}
